.[uvloop]

hatch==1.6.3
httpx==0.23.3
starlette==0.26.0.post1
pytest==7.2.2
pytest-asyncio==0.20.3
uvicorn==0.21.0
mkdocs-material==9.1.2
pytest-randomly==3.12.0
flake8==3.9.2
mypy==1.1.1
black==23.1.0
isort==5.12.0
